.heading {
    font-family: "Courier New", Arial, Helvetica, sans-serif;
    text-align: center;
    color: blueviolet;
}

.titles {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    color: aqua;
}

.main {
    text-align: center;
}

.recipe {
    font-family: "Courier New", Arial, Helvetica, sans-serif;
    color: blueviolet;
}

div {
    font-family:"Courier New", Arial, Helvetica, sans-serif;
    color: black;
    font-size: x-large;
}